{% extends 'base.html' %}
{% block title %}{{block.super}} - Registration{% endblock %}
{% block pageid %}account-create{% endblock %}
{% block content %}
	<h2>Create Your Account</h2>
	<div class="form-container">
		<table id="step-indicator"><!-- IE does not support table-style display proprties. -->
			<tr>
			<td>Step 1</td>
			<td class="current">Step 2</td>
			<td>Step 3</td>
			</tr>
		</table>
		<p>A confirmation email is sent to you. Please click or visit the link included in the message to verify your email.</p>
	</div>
{% endblock %}
