{% extends 'labsite/base_lab.html' %}
{% load row_perms %}
{% load forms %}
{% block title %}{{block.super}} - Labsite Settings{% endblock %}
{% block pageid %}labsite-settings{% endblock %}
{% block content %}
{% url labsite:dashboard labsite.url_key as labsite_url %}
	<div id="breadcrumb">
		<span class="breadcrumb-item">{{labsite.get_organization_display}}</span> &raquo; <span class="breadcrumb-item">{{labsite.course}} - {{labsite.title}}</span> &raquo;
	</div>
	<h2>Settings</h2>
	<div class="form-container">
		{% include 'snippets/message_error.html' %}
		{% include 'snippets/message.html' %}
		<form id="modifySettingsForm" method="post" action="">
			<table>
				{% print_form_as_table settings_form %}
				<tr class="form-controls"><th></th><td class="submit-area"><input type="submit" class="inline-button" value="Save" /></td></tr>
			</table>
		</form>
	</div>
{% endblock %}
