@charset "utf-8";

#content-body h3 {
	margin-top: 1.2em;
}

#content-body p {
	margin: 0.4em 0.6em;
}

#content-body pre {
	margin: 0.4em 0;
	background: #f2f2f2;
	padding: 0.3em;
	line-height: 1.2em;
}

#content-body code {
	background: #f2f2f2;
	padding: 0 0.3em;
}

#content-body pre code {
	padding: 0;
}
#content-body ul,
#content-body ol {
	margin: 0.4em 1.5em;
}

#content-body li {
	line-height: 1.2em;
}
