@charset "utf-8";

.file-progress-bar {
	margin: 3px 0;
	border: 1px solid #cbdae8;
	border-radius: 4px;
	width: 80%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position: relative;
}
.file-progress {
	background: #c9e5ff url(../images/bg-progress.png) repeat-x left top;
	border: 1px solid #859eb6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 0;
	height: 14px;
	margin: -1px;
}
.file-progress-bar .text {
	position: absolute;
	left: 4px;
	top: 0;
	font-size: 11px;
	line-height: 14px;
}
.button-cancel {
	display: inline-block;
	padding-left: 16px;
	width: 0;
	height: 16px;
	background: url(../images/button-upload-cancel.gif) no-repeat left top;
	font-size: 1pt;
	overflow: hidden;
}
